.card{
      padding: 1rem;
      margin: 10px;
}
img{
      max-width: 100%;
      height: auto;
}

div ul li a {
      margin: 10px;
      font-size: 30px;

}

.container{
      margin-top: 35px;
      margin-bottom: 40px;
}
ul li p a {
      font-size: 20px !important;
}
.admin{
      padding: 60% !important;
}

